https://pypl.github.io/PYPL.html

In [20]:
import pandas as pd

dataframes_list = pd.read_html('data.txt')

df = dataframes_list[0]
print(df)

In [22]:
dataframes_list[0]

            Date C/C++    C#   Java JavaScript    PHP Python
0    Jul 1, 2004   10%  4.7%  30.2%       8.6%  18.6%   2.5%
1    Aug 1, 2004  9.7%    5%  29.8%       8.7%  19.1%   2.6%
2    Sep 1, 2004  9.6%    5%  29.6%       8.7%  19.4%   2.7%
3    Oct 1, 2004  9.5%  5.3%    29%       8.4%  19.3%   2.9%
4    Nov 1, 2004  9.5%  5.2%  29.5%       8.5%  19.4%   2.8%
..           ...   ...   ...    ...        ...    ...    ...
225  Apr 1, 2023  6.7%  6.8%  16.1%       9.5%   5.2%  27.6%
226  May 1, 2023  6.6%  6.8%  16.1%       9.5%   5.2%  27.7%
227  Jun 1, 2023  6.5%  6.8%  15.9%       9.4%   5.2%  27.9%
228  Jul 1, 2023  6.5%  6.8%  15.8%       9.3%   5.1%  27.8%
229  Aug 1, 2023  6.6%  6.8%  15.8%       9.3%     5%    28%

[230 rows x 7 columns]

In [23]:
df.iloc[:,1:] = df.iloc[:,1:].replace('%','', regex=True)

In [24]:
df

            Date C/C++   C#  Java JavaScript   PHP Python
0    Jul 1, 2004    10  4.7  30.2        8.6  18.6    2.5
1    Aug 1, 2004   9.7    5  29.8        8.7  19.1    2.6
2    Sep 1, 2004   9.6    5  29.6        8.7  19.4    2.7
3    Oct 1, 2004   9.5  5.3    29        8.4  19.3    2.9
4    Nov 1, 2004   9.5  5.2  29.5        8.5  19.4    2.8
..           ...   ...  ...   ...        ...   ...    ...
225  Apr 1, 2023   6.7  6.8  16.1        9.5   5.2   27.6
226  May 1, 2023   6.6  6.8  16.1        9.5   5.2   27.7
227  Jun 1, 2023   6.5  6.8  15.9        9.4   5.2   27.9
228  Jul 1, 2023   6.5  6.8  15.8        9.3   5.1   27.8
229  Aug 1, 2023   6.6  6.8  15.8        9.3     5     28

[230 rows x 7 columns]

In [25]:
df = df[df.Date.str.contains('Jan')]
df

            Date C/C++   C#  Java JavaScript   PHP Python
6    Jan 1, 2005   9.7  5.2  29.6        8.4  19.8    2.9
18   Jan 1, 2006   8.5  6.3  29.7        8.1  19.7      4
30   Jan 1, 2007   8.1  7.1  30.1        8.4  19.9    4.1
42   Jan 1, 2008     8    7  30.4        8.1  19.6    4.8
54   Jan 1, 2009   8.5  7.8  28.2          8  18.8    6.2
66   Jan 1, 2010  10.5  6.4  28.1        7.4  18.6    6.5
78   Jan 1, 2011  12.2  6.4  28.4        6.8  16.2    6.7
90   Jan 1, 2012  11.9  6.4  27.6        7.2  15.6    7.8
102  Jan 1, 2013   8.7  9.5  26.5        7.1  14.2    8.5
114  Jan 1, 2014   8.1  9.7  26.2        7.3  13.1    9.9
126  Jan 1, 2015     8  9.2  25.6        7.3  11.9   10.6
138  Jan 1, 2016   7.8  8.9  25.1        7.6  11.1   11.9
150  Jan 1, 2017   7.5  8.6  22.9          8  10.1   15.2
162  Jan 1, 2018   6.5  7.8    22        8.2   8.3   20.1
174  Jan 1, 2019   6.1  7.4    21        8.1   7.2     25
186  Jan 1, 2020   5.9  7.1  18.5          8   6.1   28.7
198  Jan 1, 2021   6.2  6.5  16.7        8.4     6   30.2
210  Jan 1, 2022   7.4  7.3  18.1        9.1   6.1   28.8
222  Jan 1, 2023   6.8  6.9  16.6        9.6   5.2   27.7

In [26]:
df.loc[:,'Date'] = df.Date.replace('Jan 1,','',regex=True)
df

      Date C/C++   C#  Java JavaScript   PHP Python
6     2005   9.7  5.2  29.6        8.4  19.8    2.9
18    2006   8.5  6.3  29.7        8.1  19.7      4
30    2007   8.1  7.1  30.1        8.4  19.9    4.1
42    2008     8    7  30.4        8.1  19.6    4.8
54    2009   8.5  7.8  28.2          8  18.8    6.2
66    2010  10.5  6.4  28.1        7.4  18.6    6.5
78    2011  12.2  6.4  28.4        6.8  16.2    6.7
90    2012  11.9  6.4  27.6        7.2  15.6    7.8
102   2013   8.7  9.5  26.5        7.1  14.2    8.5
114   2014   8.1  9.7  26.2        7.3  13.1    9.9
126   2015     8  9.2  25.6        7.3  11.9   10.6
138   2016   7.8  8.9  25.1        7.6  11.1   11.9
150   2017   7.5  8.6  22.9          8  10.1   15.2
162   2018   6.5  7.8    22        8.2   8.3   20.1
174   2019   6.1  7.4    21        8.1   7.2     25
186   2020   5.9  7.1  18.5          8   6.1   28.7
198   2021   6.2  6.5  16.7        8.4     6   30.2
210   2022   7.4  7.3  18.1        9.1   6.1   28.8
222   2023   6.8  6.9  16.6        9.6   5.2   27.7

In [27]:
df.to_excel('data.xlsx', index=False)
df

      Date C/C++   C#  Java JavaScript   PHP Python
6     2005   9.7  5.2  29.6        8.4  19.8    2.9
18    2006   8.5  6.3  29.7        8.1  19.7      4
30    2007   8.1  7.1  30.1        8.4  19.9    4.1
42    2008     8    7  30.4        8.1  19.6    4.8
54    2009   8.5  7.8  28.2          8  18.8    6.2
66    2010  10.5  6.4  28.1        7.4  18.6    6.5
78    2011  12.2  6.4  28.4        6.8  16.2    6.7
90    2012  11.9  6.4  27.6        7.2  15.6    7.8
102   2013   8.7  9.5  26.5        7.1  14.2    8.5
114   2014   8.1  9.7  26.2        7.3  13.1    9.9
126   2015     8  9.2  25.6        7.3  11.9   10.6
138   2016   7.8  8.9  25.1        7.6  11.1   11.9
150   2017   7.5  8.6  22.9          8  10.1   15.2
162   2018   6.5  7.8    22        8.2   8.3   20.1
174   2019   6.1  7.4    21        8.1   7.2     25
186   2020   5.9  7.1  18.5          8   6.1   28.7
198   2021   6.2  6.5  16.7        8.4     6   30.2
210   2022   7.4  7.3  18.1        9.1   6.1   28.8
222   2023   6.8  6.9  16.6        9.6   5.2   27.7